
  <div class="jumbotron">
  <p>jfak;llllllllllllllllllllllllllllllllllllllllljfakjjkafkjljlk;ajkljlk;a</p>
  <div>


<!-- <div class="row">
  <div class="col-sm-4">
 
   <a href=""><img src="http://whatpixel.com/images/2017/05/head-first-java.jpg"></a>
    <h1>Java</h1>
    <p>
     A population is thus the group of people or other organisms that live in a particular place. A population explosion is when a certain population grows drastically in size. Often the implication is that the population has grown too much. High birth rate: more people are being born
    </p>
     <button type="button" class="btn btn-success pull-right" >AddCart</button>
  </div>


  <div class="col-sm-4">
     <a href=""><img src="http://whatpixel.com/images/2017/05/head-first-java.jpg"></a>
    <h1>Html</h1>
    <p>
     A population is thus the group of people or other organisms that live in a particular place. A population explosion is when a certain population grows drastically in size. Often the implication is that the population has grown too much. High birth rate: more people are being born
    </p>
     <button type="button" class="btn btn-success pull-right">AddCart</button>
  
</div>
 -->