<div class="navbar navbar-inverse navbar-static-bottom">
  <div class="container-fluid">
  <div class="navbar-text pull-left">
    <p>&copy All rights reserved by Sankar</p>
  </div>
  <div class="navbar-text pull-right">
   <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i>
    </a><a href="https://www.youtube.com/"><i class="fab fa-youtube fa-2x"></i></a>
  </div>
  </div>
</div>
