<div class="container">
<div class="jumbotron text-center">
  <h1>Welcome</h1>
  <p>
  A population is thus the group of people or other organisms that live in a particular place. A population explosion is when a certain population grows drastically in size. Often the implication is that the population has grown too much. High birth rate: more people are being born
  </p>
  <a href="/user/signin"><button type="button" class="btn btn-larg btn-primary">Signin</button></a>
   <a href="/user/signup"><button type="button" class="btn btn-larg btn-success">Signup</button></a>
</div> 
</div>