
<div class="container">
<div class="row" >
<div class="col-lg-4">
<img src="http://1.bp.blogspot.com/-al5-bAogsoc/UwMwAtBsADI/AAAAAAAAAP8/bj3sj_IrUv8/s1600/java+black+book.jpg" alt="jsut sample">
<h1>Java</h1>
<p>Java note books is very importent for doing program secure way</p>
<button type="button" class="btn btn-success pull-right">edit</button>

</div>
<div class="col-lg-4">
<img src="http://1.bp.blogspot.com/-al5-bAogsoc/UwMwAtBsADI/AAAAAAAAAP8/bj3sj_IrUv8/s1600/java+black+book.jpg" alt="jsut sample">
<h1>Java</h1>
<p>Java note books is very importent for doing program secure way</p>
<button type="button" class="btn btn-success pull-right">edit</button>

</div>
<div class="col-lg-4">
<img src="http://1.bp.blogspot.com/-al5-bAogsoc/UwMwAtBsADI/AAAAAAAAAP8/bj3sj_IrUv8/s1600/java+black+book.jpg" alt="jsut sample">
<h1>Java</h1>
<p>Java note books is very importent for doing program secure way</p>
<button type="button" class="btn btn-success pull-right">edit</button>

</div>
<div class="col-lg-4">
<img src="http://1.bp.blogspot.com/-al5-bAogsoc/UwMwAtBsADI/AAAAAAAAAP8/bj3sj_IrUv8/s1600/java+black+book.jpg" alt="jsut sample">
<h1>Java</h1>
<p>Java note books is very importent for doing program secure way</p>
<button type="button" class="btn btn-success pull-right">edit</button>

</div>
<div class="col-lg-4">
<img src="http://1.bp.blogspot.com/-al5-bAogsoc/UwMwAtBsADI/AAAAAAAAAP8/bj3sj_IrUv8/s1600/java+black+book.jpg" alt="jsut sample">
<h1>Java</h1>
<p>Java note books is very importent for doing program secure way</p>
<button type="button" class="btn btn-success pull-right">edit</button>

</div>
<div class="col-lg-4">
<img src="http://1.bp.blogspot.com/-al5-bAogsoc/UwMwAtBsADI/AAAAAAAAAP8/bj3sj_IrUv8/s1600/java+black+book.jpg" alt="jsut sample">
<h1>Java</h1>
<p>Java note books is very importent for doing program secure way</p>
<button type="button" class="btn btn-success pull-right">edit</button>

</div>

</div></div>